-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- if AppConfig.settings.invitations.open?
  .section
    .title
      %i.fa.fa-plus.pull-left
      %h5.title-header
        = t('shared.invitations.invite_your_friends')
    .content
      = render "shared/invitations_blueprint"

.section
  -#.title
  %ul.content
    = render "shared/links"

