<div class="center hero-unit">
    <h1><%= t :welcome %></h1>

    <h2><%= t('users.getting_started.awesome_take_me_to_diaspora') %></h2>

    <%= link_to t('registrations.new.sign_up'), new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
