html,
body {
  /* hack to ensure fixed elements at height: 100%; are in relation to the window */
  max-height : 100%;
  background-color: #F3F3F4;
  // color: #797979;
  font-size: 12px;
}

body {
  margin-top: 40px;
  padding : none;

  &.lock {
    overflow: hidden;
  }
}

.opacity-box {
  @include opacity(0.9);
}

.col-md-8-left {
  padding-left: 0;
}

.container-margin-top {
  margin-top: 33px;
}

.container-box {
  background-color: #ffffff;
  border: 1px solid $border-grey;
  margin-bottom: 20px;
  padding: 20px;
  min-height: 300px;

  .nav-tabs {
    border-bottom: 0;
  }
  .nav-tabs > li > a {
    @include border-radius(0);
  }
  .nav-tabs > li > a:hover {
    border-color: #eeeeee;
  }
  .nav.nav-tabs li.active > a {
    background-color: $blue-light;
    color: white;
    .badge {
      background-color: white;
      color: $blue-light;
    }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
  }  
}

.box-signup {
  padding: 60px 10px 10px 10px;
}

/* new link color */
// $link-blue : rgb(42,156,235);
// a { color : $link-blue  }

.grey,
.grey * {
  color: $text-grey;
}

input:not([type='submit']):not([type='reset']):not([type='hidden']):not(.as-input),
textarea {
  background-color: white;
  color: black;
  margin-top: 1px;
  font: {
    family: "Arial", "Helvetica", sans-serif;
    size: 14px;
  };
  padding: 0.3em;
  display: block;
  border: 1px solid #cccccc;
  height: auto;
}

/* bootstrap extentions */
.icon-red   { background-image: image_url("img/glyphicons-halflings-red.png");   }
.icon-blue  { background-image: image_url("img/glyphicons-halflings-blue.png");  }

.avatar {
  &.micro {
    height: 20px;
    width: 20px;
  }

  &.small {
    height: 35px;
    width: 35px;
  }
}

#forgot_password,
#reset_password {
  background-image : image_url("texture/light-bg.png");
  height: 100%;
}

.author-name {
  color: inherit;
}

.photo-fill {
  @include background-cover();
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

$bring-dark-accent-forward-color: #DDD;

#top-right-nav {
  z-index: 10;
  position : absolute;
  right : 10px;
  top : 10px;

  & > a {
    @include transition(opacity);
    @include opacity(0.4);

    margin-left : 5px;

    &:hover {
      @include opacity(0.75);
      text-decoration : none;
    }
  }
}

#header {
  position : fixed;
  top : 0;
  width : 100%;
  padding : 15px;
  z-index : 30;

  -webkit-box-shadow : inset 0 -10px 10px -8px rgba(0,0,0,0.8);
  -moz-box-shadow : inset 0 -10px 10px -8px rgba(0,0,0,0.8);

  border-bottom : 1px solid #333;

  color : #fff;
  background : {
    color : #333;
    size : cover;
    attachment : fixed;
  }

  h1 {
    @include opacity(0.4);
  }
}

/* bootstrap label fixes for Roboto */
.label {
  padding : 2px 5px;
  padding-bottom : 3px;

  span {
    display : inline-block;
    position : relative;
    top : 1px;
    font-family : Roboto-Bold;
  }
}

.profile-image-container {
  border-radius: 140px;
  border : 3px solid #fff;
  box-shadow : 0 0 2px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.6), inset 0 0 15px rgba(0,0,0,0.5), inset 0 -2px 4px rgba(255,255,255,0.3);
  background-size: cover;

  height : 140px;
  width : 140px;
  background : {
    position : center;
    image : image-url('user/default.png');
  }

  display : inline-block;

  margin-bottom : 5px;

  &.small {
    height : 40px;
    width : 40px;
    border : 2px solid #fff;
  }

  &.smaller {
    height : 34px;
    width : 34px;
    border : 2px solid #ccc;
  }

  &.micro {
    height : 24px;
    width : 24px;
    border : 2px solid #fff;
  }
}

#back-to-top {
  display: block;
  color: white;
  position: fixed;
  z-index: 49;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  font-size: 2.9em;
  padding: 0 12px 0 12px;
  border-radius: 10px;
  background-color: #aaa;
  &:hover { opacity: 0.85 !important; }
  &.visible { opacity: 0.5; }
  line-height: 1.5;
}

/* general purpose classes */
.container {
  max-width: 950px;
}

.x-small-horizontal-spacer {
  height: 10px;
}

.small-horizontal-spacer {
  height: 20px;
}

.big-horizontal-spacer {
  height: 50px;
}

// accademicos custom
*, a:focus {
  outline: none !important;
}
div.row, ul.row {
  margin: 0 -5px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}
h4, h5, h6 {
  margin-top: 0;
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input {
  height: auto !important;
}
.color-red-light {
  color: $red-light;
}
.background-red-light {
  background-color: $red-light;
}
.center {
  text-align: center;
}
.media > a > .pull-left{
  margin-right: 10px;
}
.fa-big-icon {
  color: #e5e6e7;
  font-size: 160px;
}
.fa-angle-right {
  color: #797979; 
  font-weight: bold;
}
.fa-pull-right {
  color: #c2c2c2;
}
.m {
  margin: 15px !important;
}
.m-t-n-xs {
  margin-top: -5px !important;
}
.float-e-margins .btn {
  margin-bottom: 5px !important;
}
.text-navy {
  color: #1AB394 !important;
}
.text-muted {
  color: #888888 !important;
}
.btn {
  border-radius: 3px;
}
.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-primary {
  background-color: #0E9AEF;
  border-color: #0E9AEF;
  color: #FFFFFF;
}
.bt-follow {
  font-size: 1em;
}
.border-left{
  border-left: 1px solid #e5e6e7 !important;
}
.border-right{
  border-right: 1px solid #e5e6e7 !important;
}
.border-bottom {
  border-bottom: 1px solid #e5e6e7 !important;
}
.border-top {
  border-top: 1px solid #e5e6e7 !important;
}
.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar, #user_captcha {
  box-shadow: none;
}
.form-control, #user_captcha {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7 !important;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 11px;
}
.ibox > .ibox-content {
  border-top: none;
}
.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
  margin-top: 5px;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox:after, .ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #E7EAEC;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}
.ibox-title:after {
  clear: both;
}
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  position: relative;
  float: left;
}
.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}
.ibox-content {
  clear: both;
}
.ibox-content {
  background-color: #FFFFFF;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #E7EAEC;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* responsive */
@media (max-width: 767px) {
  body {
    padding : 0;
 }
}
