.comment_stream {
  
  a.author {
    color: $blue;
  }

  .show_comments {
    margin-top: 5px;
    border-top: 1px solid $border-grey;
    a {
      color: $blue;
      font-size: 12px;
    }
    a.toggle_post_comments {
      color: $blue;
      font-size: 0.8em;
    }
  }
  .comments > .comment {
    .avatar {
      height: 30px;
      width: 30px;
    }
    margin: 0;
    &.no-border { border: none; padding: 0; }

    .comment-content p:last-of-type { margin-bottom: 0; }

    .info {
      margin-top: 5px;
      font-size: 11px;
      line-height: 11px;
    }

    >.highlighted {
      border-left: 3px solid $blue;
      padding-left: 3px;
    }
  }
  .submit_button {
    input {
      float: right;
    }
    padding-left: 12px;
    width: 95%;
  }

  .comment {
    &.media {
      margin-left: 0;
      margin-right: 0;
      margin-top:10px;

      .controls {
        .comment_delete, .comment_report {
          @include transition(opacity);
          @include opacity(0);
        }
      }
      &:hover {
        .controls {
          .comment_delete, .comment_report {
            @include opacity(0.3);
          }
          .comment_delete:hover, .comment_report:hover {
            @include opacity(1);
          }
        }
      }
    }

    .youtube-player, .vimeo-player {
      border: none;
      height: 250px;
      width: 400px;
    }

    .ltr {
      ol, ul {
        padding-left: 2em;
        li {
          padding: 0px;
          border: none;
          list-style: inherit;
        }
      }
    }

    .right {
      right: 4px;
    }

    form.new_comment {
      input {
        display: none;
      }

      textarea {
        height: 28px;
        font-size: 12px;
        margin-bottom: 5px;
        width: 100%;
      }

      &.open {
        input {
          display: block;
        }
      }
    }
  }
}
