#main_stream .stream_element,
#main_stream > div > .photo {
  border-bottom: 1px solid $border-grey;
  padding: 10px;

  & > .media {
    margin: 0px;
  }

  .status-message-location {
    .near-from {
      font-size: smaller;
      color: #aaa;
      width: 100%;
      float: left;
      margin-bottom: 10px;
    }
    .address {
      font-size: 11px;
      color: #bbb;
    }
  }
}

#main_stream .stream_element {
  & > .media {
    & > .img > .avatar.small {
      height: 30px;
      width: 30px;
    }
    .author {
      font-weight: bold;
      margin-bottom: 4px;
      unicode-bidi: bidi-override;
    }
    a.author { color: $blue; }
    .feedback {
      margin-top: 5px;
      font-size: 11px;
      line-height: 11px;
    }
    .likes {
      margin-top: 10px;
      font-size: 12px;
      line-height: 16px;
      .bd { display: inline-block; }
      .entypo.heart, .entypo.heart-empty {
        font-size: 16px;
      }
      .fa.fa-heart, .fa.fa-heart-o {
        font-size: 14px;
      }
      .entypo.heart, .entypo.heart-empty, .fa.fa-heart, .fa.fa-heart-o {
        display: inline-block;
        vertical-align: top;
        margin-top: -2px;
        margin-right: 5px;
      }
    }
    .youtube-player, .vimeo-player {
      border: none;
      height: 304px;
      width: 410px;
    }
    .photo_attachments {
      margin-top: 7px;
      padding-bottom: 10px;
      text-align: center;
      img {
        &.big_stream_photo {
          display: block;
          max-width: 90%;
        }
        &.thumb_small {
          display: inline;
          max-width: 50px;
          max-height: 50px;
        }
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;
      }
    }
    .stream_photo {
      float: left;
      margin-top: 6px;
    }
    .status-message-location .near-from {
      font-size: 11px;
      font-size: smaller;
      color: #aaa;
      width: 100%;
      float: left;
      margin-bottom: 10px;
    }
    .grey { color: $text-grey; }
    .post-content p:last-of-type { margin-bottom: 0; }
    .nsfw-shield {
      color: $text-grey;
      padding: 5px 10px;
      background-color: $background-grey;
      border: 1px solid $border-grey;
      border-radius: 3px;
    }
  }

  .reshare {    
    border-left: 2px solid $border-grey;
    margin-top: 3px;
  
    & > .media .avatar {
      height: 30px;
      width: 30px;
    }
  }

  .info {
    .reshare {
      border-left: 0 none !important;
    }
  }
  
  .collapsible {
    overflow: hidden;
    position: relative;

    p {
      margin: 0 0 0.8em;
    }
    p:last-of-type {
      margin: 0;
    }

    .expander {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      text-align: center;
      line-height: 45px;
      font-size: .8em;
      color: $blue;
      cursor: pointer;
      border-bottom: 1px dotted $border-grey;
      background-color: transparent;
    }

    .oembed {
      background: image-url('ajax-loader2.gif') no-repeat center center;
      float: left;
      width: 100%;

      .thumb {
        @include video-overlay();
      }

      iframe, .thumb img {
        width: 100%;
      }
    }
  }

  a.author {
    font-weight: bold;
    unicode-bidi: bidi-override;
  }

  &.highlighted {
    padding-left: 8px;
    border-left: 3px solid $creation-blue;
  }

  &.post_preview {
    background-color: lighten($creation-blue,45%);
    border: 1px solid $creation-blue;
  }

  .photo_attachments {
    margin-bottom: 10px;

    .stream-photo-big {
      margin-bottom: 5px;
    }

    .stream-photo-small {
      margin-right: 1px;
    }

    img {
      max-width: 100%;
    }
  }
}
