<div id="hovercard">
  <img class="avatar img-circle">
  <h4>
    <a class="person"></a>
  </h4>
  <div class="handle"></div>
  <div class="hovercard_footer">
    <div class="footer_container">
    </div>
  </div>
</div>
