-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%header.navbar.navbar-default.top-nav.navbar-fixed-top
  - unless current_user
    .container
      .navbar-header
        = link_to image_tag("branding/header-logo.png", :class => "img-logo"), root_path, class: 'navbar-brand'

      .pull-right.navbar-brand
        - unless current_page?(controller: :registrations, action: :new)
          = link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'btn btn-default'
        = link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'btn btn-success'
      #lightbox
        #lightbox-content
          %a#lightbox-close-link(href='#')
            [x]
            =t('javascripts.header.close')
          %img#lightbox-image
          #lightbox-imageset
      #lightbox-backdrop
